<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<!-- Sandbox PayPal -->
		<add key="PayPalAPIUsername" value="psarknas_api1.yahoo.com"/>
		<add key="PayPalAPIPassword" value="R97V3NVZUPH92PK8"/>
		<add key="PayPalAPIURL" value="https://api-aa.sandbox.paypal.com/2.0/"/>

        <add key="CertificatePath" value="~/Certs/LittleItalyVineyards.p12"/>
        <add key="CertificatePassword" value="ps5150"/>
        <add key="TaxRate" value="7"/>

        <add key="SMTPServerName" value="localhost"/>
        <add key="ToAddress" value="info@littleitalyvineyards.com"/>
	</appSettings>
	<connectionStrings>
		<add name="SQLCONN" connectionString="server=vault.sarknasoft.com;uid=sa;
            pwd=ps5150;database=LittleItalyVineyard"/>
	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Forms">
            <forms name="LITTLEITALYAUTH" loginUrl="~/Admin/Login.aspx" protection="All" timeout="120" path="/">
            </forms>
        </authentication>
        <authorization>
            <allow users="*"/>
        </authorization>

        <caching>
            <sqlCacheDependency enabled="true" pollTime="60000">
                <databases>
                    <add name="LittleItalyVineyard" connectionStringName="SQLCONN" />
                </databases>
            </sqlCacheDependency>
        </caching>

        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
        <customErrors mode="On"  defaultRedirect="ErrorPage.aspx">
        </customErrors>

        </system.web>
</configuration>
